# Dossiers
node_modules/
dist/
coverage/

# Fichiers
.env
.env.local
.env.*.local

# Fichiers système
.DS_Store
Thumbs.db

# Fichiers de sauvegarde
*.bak
*.swp
*~

# Fichiers de configuration spécifiques à l'IDE
.idea/
.vscode/